.clients-partners{width: 100%; background-image: url(../images/fishman.jpg); background-attachment: fixed; background-position: center center;
    .wrap-client{background-color: rgba(58, 181, 202,0.57);
        .partners-wrap{ text-align: left; background-color: rgba(64, 47, 99,0.57); padding-left:120px;
            input{text-align: left;}
        }
        .clients-wrap{ text-align: right; padding-right:140px;
            input{text-align: right;}
        }
        .conteiner-fontan{float: left; width: 50%; color: white; padding-top: 71px; padding-bottom: 52px;
            .title-text{font-family: "Geometria", sans-serif; font-size: 69px; font-weight: 700;}
            .aftertext{font-family: "Geometria", sans-serif; font-size: 23px; font-weight: 400;     padding-top: 25px; line-height: 28px;}
        }
        form{ padding-top: 13px;
            .contact-form-item{padding-bottom: 17px;}
            input{width: 100%; max-width: 295px; background-color: transparent; outline: none; border: 1px solid white; height: 57px; font-family: "Geometria", sans-serif; font-size: 18px; font-weight: 700; color: white; padding: 0 10px;
                &.error{border: 1px solid red; box-shadow: inset 0px 0px 2px 2px rgba(255,0,0,1);}
            }
            label{display: none !important;}
            ::-webkit-input-placeholder {color: white;}
            ::-moz-placeholder          {color: white;}/* Firefox 19+ */
            :-moz-placeholder           {color: white;}/* Firefox 18- */
            :-ms-input-placeholder      {color: white;}
            .contact-form-row{padding-top: 12px;}
            .button{max-width: 294px; border: 3px solid white; font-family: "Geometria", sans-serif; font-size: 18px; font-weight: 700; color: white;line-height: 58px; cursor: pointer;
                &:hover{border-color: #175b88;}
            }
        }

    }
}


.footer-wrap{ width: 100%; background-color: #1a1a1a; padding-top: 10px;
    .conteiner{ width: 100%; text-align: center;
        .socials{display: flex; justify-content: center; padding-top: 15px;
            a{text-decoration: none; display: block;  margin: 0 5px; border-radius: 5px; overflow: hidden; transition: all 0.3s;
                img{border-radius: 5px;}
                &:hover{ border-radius: 50%;}
            }
        }
        .all-rigths-are-reserved{font-family: "Geometria", sans-serif; font-size: 14px; font-weight: 400; color: white; padding-top: 22px; padding-bottom: 40px; }
    }
}

.problem-wrap{
    .texter-list-left{background-image: url(../images/strelka.png); background-position: right center; background-repeat: no-repeat; width: 59%; float: left;
        .content{ padding-top: 60px; padding-bottom: 20px;
            ul{float: right; padding-right: 46px; padding-left: 20px;
                li {font-family: "Geometria", sans-serif; font-size: 24px; font-weight: 400; color:#024f7e; padding-left: 31px; position: relative; margin-bottom: 40px;
                    &:after{position: absolute; left: 0; top: 2px; content: ''; width: 13px; height: 13px; border-radius: 50%; background-color: #024f7e; }
                }
            }
        }
    }
    .after-right{width: 41%; float: left; padding-top: 93px;
        .text-spec{ position: relative;max-width: 440px;font-family: "Geometria", sans-serif;
            &:after{content: '!'; position: absolute; right: -9px; top:0; font-size: 262px;color: rgba(2, 79, 126, 0.239); line-height: 200px; font-weight: 500;}
            b{color: #024f7e; font-weight: 900; font-size: 94px; text-transform: uppercase;}
            i{color: #024f7e; font-weight: 700; font-size: 35px; line-height: 46px;}
            span{color: rgba(2, 79, 126, 0.529);; font-weight: 700; font-size: 68px; text-transform: uppercase;}
        }
    }
}

