<section class="clients-partners">
    <div class="wrap-client cfix">
        <div class="conteiner-fontan clients-wrap">
            <div class="title-text scrollAnim">
                <h3>Клиентам</h3>
            </div>
            <div class="aftertext scrollAnim">
                <p>Отсутствие минимальной суммы <br/> заказа для новых клиентов!</p>
                <p>Помощь и консультация на всех <br/> этапах сотрудничества</p>
            </div>
            <form action="ajax-programer.php" name="clients" class="client-form">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item scrollAnim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_name" required="required" value="" placeholder="Введите ваше Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scrollAnim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_tel" value="" required="required" placeholder="Введите ваш номер телефона" class="tel-mask">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scrollAnim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="email" name="contact_email" value="" required="required" placeholder="Введите ваш Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-row cfix scrollAnim">
                    <div class="contact-form-item">
                        <button type="submit" class="button">
                            <span>Отправить заявку</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="conteiner-fontan partners-wrap">
            <div class="title-text scrollAnim">
                <h3>Партнерам</h3>
            </div>
            <div class="aftertext scrollAnim">
               <p>Наше предприятие круглый год <br/> заинтересовано в расширении <br/> поставщиков различных видов <br/> здоровой качественной рыбы</p>
            </div>
            <form action="ajax-programer.php" name="partners" class="partner-form">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item scrollAnim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_name" required="required" value="" placeholder="Введите ваше Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scrollAnim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_tel" value="" required="required" placeholder="Введите ваш номер телефона" class="tel-mask">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item scrollAnim">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="email" name="contact_email" value="" required="required" placeholder="Введите ваш Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-row cfix scrollAnim">
                    <div class="contact-form-item">
                        <button type="submit" class="button">
                            <span>Отправить заявку</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</section>