<section class="features" id="features">

    <div class="mbox">

        <div class="title">
            <h2>
                <span>Особенности работы</span>
            </h2>
            <h6>Наш бизнес для Вашего бизнеса</h6>
        </div>

        <div class="features-wrap scrollAnim">

            <div class="features-main">

                <div class="features-item text-right ">
                    <div class="features-item-title">При перевозки малька и товарной рыбы</div>
                    <div class="features-text">
                        <div class="features-text-wrap">
                            <p>Мы перемещаем живой материал с гарантией и это очень важно.</p>
                            <br>
                            <br>
                            <br>
                            <p>За рейс наш транспорт и опытный экипаж способен переместить порой в три раза больше штук рыб за рейс, что позволяет заказчику существенно экономить время и средства - выбирая нас как перевозчика.</p>
                            <br>
                            <br>
                            <br>
                            <p>Наш опыт и порядочность убережёт заказчиков (начинающих специалистов) в работе с рыбой от серьёзных и дорогих ошибок.</p>
                        </div>
                    </div>
                </div>

                <div class="features-item text-left ">
                    <div class="features-item-title">При зарыблении платных рыбалок</div>
                    <div class="features-text">
                        <div class="features-text-wrap">
                            <p>Все этапы работы с рыбой подчинены одной цели - запустить в водоём активную и здоровую особь, что далее отражается на всем для чего создана "Платная рыбалка".</p>
                            <br>
                            <br>
                            <br>
                            <p>Наша рыба дороже, но она позволяет Вам зарабатывать больше.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>