<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer-wrap">
        <div class="conteiner">
            <img src="images/zmeyka.png" alt="">
            <div class="socials">
                <a href="#" class="soc-vk">
                    <img src="images/vk.png" alt="">
                </a>
                <a href="#" class="soc-fb">
                    <img src="images/fb.png" alt="">
                </a>
                <a href="#" class="soc-tw">
                    <img src="images/tw.png" alt="">
                </a>
            </div>
            <div class="all-rigths-are-reserved">
                <span>© 2015 FishExpress.</span>
                <span>Все права защищены</span>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
