<section class="fotogallery">
    <div class="mbox">
        <div class="title">
            <h2><span>Фото и Видео</span></h2>
        </div>
    </div>
    <div class="fotogallery-slider scrollAnim">
        <div class="fotogallery-slider-wrap">
            <div class="fotogallery-slider-item">
                <a href="images/slide1B.jpg" class="fancybox" rel="fotogallery-1" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
                    <img src="images/fotogallery-slider-1.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/slide2B.jpg" class="fancybox" rel="fotogallery-1" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
                    <img src="images/fotogallery-slider-2.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item video">
                 <a  data-fancybox-type="iframe" href="https://www.youtube.com/embed/99aCihNmgPE" class="fancybox" rel="fotogallery-1" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."><img src="http://img.youtube.com/vi/99aCihNmgPE/hqdefault.jpg" alt=""></a>
            </div><!--  для имаги с ютуба просто доставайте id и вставляйте в img>src и a>href.  в данном случае это 99aCihNmgPE-->
            <div class="fotogallery-slider-item">
                <a href="images/slide2B.jpg" class="fancybox" rel="fotogallery-1" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
                    <img src="images/fotogallery-slider-5.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/slide1B.jpg" class="fancybox" rel="fotogallery-1" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
                    <img src="images/fotogallery-slider-6.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/slide2B.jpg" class="fancybox" rel="fotogallery-1" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
                    <img src="images/fotogallery-slider-1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>


</section>