<section class="fotogallery">
    <div class="mbox">
        <div class="title">
            <h2><span>Фотогалерея</span></h2>
        </div>
    </div>
    <div class="fotogallery-slider scrollAnim">
        <div class="fotogallery-slider-wrap">
            <div class="fotogallery-slider-item">
                <a href="images/fotogallery-slider-1.jpg" class="fancybox" rel="fotogallery-1">
                    <img src="images/fotogallery-slider-1.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/fotogallery-slider-2.jpg" class="fancybox" rel="fotogallery-1">
                    <img src="images/fotogallery-slider-2.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/fotogallery-slider-3.jpg" class="fancybox" rel="fotogallery-1">
                    <img src="images/fotogallery-slider-3.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/fotogallery-slider-5.jpg" class="fancybox" rel="fotogallery-1">
                    <img src="images/fotogallery-slider-5.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/fotogallery-slider-6.jpg" class="fancybox" rel="fotogallery-1">
                    <img src="images/fotogallery-slider-6.jpg" alt="">
                </a>
            </div>
            <div class="fotogallery-slider-item">
                <a href="images/fotogallery-slider-1.jpg" class="fancybox" rel="fotogallery-1">
                    <img src="images/fotogallery-slider-1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>


</section>