<!-- HEADER -->
<header class="header">
    <div class="mbox">

        <div class="header-logo">
            <img src="images/logo.png" alt="" />
        </div>

        <div class="header-menu">

            <div class="header-menu-wrap">
                <ul>
                    <li>
                        <a  href="#our-quests">НАШИ ЗАДАЧИ</a>
                    </li>
                    <li>
                        <a  href="#transport">НАШ ТРАНСПОРТ</a>
                    </li>
                    <li>
                        <a  href="#our-advantages">КАК МЫ РАБОТАЕМ</a>
                    </li>
                    <li>
                        <a  href="#our-advantages">НАШИ ПРИЕМУЩЕСТВА</a>
                    </li>
                    <li>
                        <a  href="#features">ОСОБЕННОСТИ РАБОТЫ</a>
                    </li>
                </ul>
            </div>

            <div class="header-menu-sendwich">
                <div class="header-menu-sendwich-text">Меню</div>
                <div class="header-menu-sendwich-main">
                    <span></span>
                </div>
            </div>

        </div>

        <div class="header-menu-button">
            <a  href="#" data-id="#clients-partners" class="button">
                <span>Отправить заявку</span>
            </a>
        </div>

    </div>
</header>
<!-- /HEADER -->

