<!-- HEADER -->
<header class="header">
    <div class="mbox">

        <div class="header-logo">
            <img src="images/logo.png" alt="" />
        </div>

        <div class="header-menu">

            <div class="header-menu-wrap">
                <ul>
                    <li>
                        <a href="#">НАШИ ЗАДАЧИ</a>
                    </li>
                    <li>
                        <a href="#">НАШ ТРАНСПОРТ</a>
                    </li>
                    <li>
                        <a href="#">КАК МЫ РАБОТАЕМ</a>
                    </li>
                    <li>
                        <a href="#">НАШИ ПРИЕМУЩЕСТВА</a>
                    </li>
                    <li>
                        <a href="#">ОСОБЕННОСТИ РАБОТЫ</a>
                    </li>
                </ul>
            </div>

            <div class="header-menu-sendwich">
                <div class="header-menu-sendwich-text">Меню</div>
                <div class="header-menu-sendwich-main">
                    <span></span>
                </div>
            </div>

        </div>

        <div class="header-menu-button">
            <a href="#call_popup" class="fancybox button">
                <span>оставить заявку</span>
            </a>
        </div>

    </div>
</header>
<!-- /HEADER -->

