<section class="our-advantages">
    <div class="mbox">
        <div class="title">
            <h2><span>Наши преимущества</span></h2>
        </div>
        <div class="our-advantages-line">
            <div class="our-advantages-line-wrap cfix">
                <div class="line-item item-1 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">01</div>
                        <div class="line-item-text"><p>Более 12 лет опыта<br>работы</p></div>
                    </div>
                </div>
                <div class="line-item item-2 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">02</div>
                        <div class="line-item-text"><p>Гарантия (соответствие заявленного<br>веса к перевозке, с полученным<br>клиентом по факту)</p></div>
                    </div>
                </div>
                <div class="line-item item-3 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">03</div>
                        <div class="line-item-text"><p>Соответствие <br>заявленного веса к <br>перевозке, с полученным <br>клиентом по факту</p></div>
                    </div>
                </div>
                <div class="line-item item-4 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">04</div>
                        <div class="line-item-text"><p>Только здоровая и<br>активная рыба</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>