<section class="our-quests">

    <div class="mbox">

        <div class="title">
            <h2>
                <span>Наши задачи</span>
            </h2>
        </div>

        <div class="our-quests-wrap">

            <div class="our-quest-item scrollAnim">
                <div class="our-quest-item-img">
                    <img src="images/our-quest-item-img1.png" alt="" />
                </div>
                <div class="our-quest-item-text">Выполнение ответственных перевозок любой сложности</div>
            </div>

            <div class="our-quest-item scrollAnim">
                <div class="our-quest-item-img">
                    <img src="images/our-quest-item-img2.png" alt="" />
                </div>
                <div class="our-quest-item-text">Продажа живой рыбы</div>
            </div>

        </div>

    </div>

</section>