<section id="our-fish" class="our-fish">
    <div class="mbox">
        <div class="title">
            <h2>Наша рыба</h2>
        </div>
        <div class="descktop">
            <div class="content">
                <div class="item">
                    <div class="img no-before"><img src="images/fish01.jpg" alt=""></div>
                    <div class="txt">
                        <p>Карельская форель</p>
                    </div>
                    <div class="txth">

                        <p><b>Форе́ль</b> - общее название нескольких пресноводных видов и форм рыб, отнощихсяк семейству лососёвых .Форели присутствуют в трёх из семи родов семейства: лососи ,который вклчает атлантические виды; тихоокеанские лососи  и гольцы.</p>
                    </div>
                </div>
                <div class="liner"></div>
                <div class="item">
                    <div class="img"><img src="images/fish02.jpg" alt=""></div>
                    <div class="txt">
                        <p>Сиг балтийский проходной</p>
                    </div>
                    <div class="txth">

                        <p><b>Сиг</b> - рыба семейства сиговых (Coregonidae). Распространен в бассейнах Балтийского и частично Северного морей, а также в бассейне Се­верного Ледовитого океана, от Кольского полуострова до Аляски и севера Канады. Стал очень редок и в Балтийском море. </p>
                    </div>
                </div>
                <div class="liner dot"></div>
                <div class="item">
                    <div class="img"><img src="images/fish03.jpg" alt=""></div>
                    <div class="txt">
                        <p>Карп</p>
                    </div>
                    <div class="txth">

                        <p><b>Карп</b> — большая всеядная рыба жёлто-зелёного и коричневого цвета, имеет толстое, умеренно удлинённое тело, покрытое крупной, гладкой, золотисто-бурой плотно сидящей чешуёй. Живёт в реках, ы с твёрдым глинистым, слегка заиленным дном. В низовьях рек, впадающих в Чёрное море карп встречается в солоноватых водах.</p>
                    </div>
                </div>
                <div class="liner"></div>
                <div class="item">
                    <div class="img no-after"><img src="images/fish04.jpg" alt=""></div>
                    <div class="txt">
                        <p>Щука</p>
                    </div>
                    <div class="txth">

                        <p><b>Щука</b> — рыба семейства щуковых. Распространена в пресных водах Евразии и Северной Америки. Живёт обычно в прибрежной зоне, в водных зарослях, в непроточных или слабопроточных водах. Может также встречатьс я и в опреснённых частях морей — например в Финском, Рижском и Кушском заливах Балтийского моря, в Таганрогском заливе Азовского моря.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile">
            <div class="content">
                <div class="item">
                    <div class="img"><img src="images/fish02.jpg" alt=""></div>
                    <div class="txt">
                        <p>Сиг балтийский проходной</p>
                        <p><b>Сиг</b> - рыба семейства сиговых (Coregonidae). Распространен в бассейнах Балтийского и частично Северного морей, а также в бассейне Се­верного Ледовитого океана, от Кольского полуострова до Аляски и севера Канады. Стал очень редок и в Балтийском море. </p>
                    </div>
                </div>
                <div class="item right">
                    <div class="img no-before"><img src="images/fish01.jpg" alt=""></div>
                    <div class="txt">
                        <p>Карельская форель</p>
                        <p><b>Форе́ль</b> - общее название нескольких пресноводных видов и форм рыб, отнощихсяк семейству лососёвых .Форели присутствуют в трёх из семи родов семейства: лососи ,который вклчает атлантические виды; тихоокеанские лососи  и гольцы.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/fish03.jpg" alt=""></div>
                    <div class="txt">
                        <p>Карп</p>
                        <p><b>Карп</b> — большая всеядная рыба жёлто-зелёного и коричневого цвета, имеет толстое, умеренно удлинённое тело, покрытое крупной, гладкой, золотисто-бурой плотно сидящей чешуёй. Живёт в реках, ы с твёрдым глинистым, слегка заиленным дном. В низовьях рек, впадающих в Чёрное море карп встречается в солоноватых водах.</p>
                    </div>
                </div>
                <div class="item right">
                    <div class="img no-after"><img src="images/fish04.jpg" alt=""></div>
                    <div class="txt">
                        <p>Щука</p>
                        <p><b>Щука</b> — рыба семейства щуковых. Распространена в пресных водах Евразии и Северной Америки. Живёт обычно в прибрежной зоне, в водных зарослях, в непроточных или слабопроточных водах. Может также встречатьс я и в опреснённых частях морей — например в Финском, Рижском и Кушском заливах Балтийского моря, в Таганрогском заливе Азовского моря.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>