<section class="our-advantages" id="our-advantages">
    <div class="mbox">
        <div class="title">
            <h2><span>Как мы работаем</span></h2>
        </div>
        <div class="our-advantages-line">
            <div class="our-advantages-line-wrap cfix">
                <div class="line-item item-1 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">01</div>
                        <div class="line-item-text"><p>Получение заказа</p></div>
                    </div>
                </div>
                <div class="line-item item-2 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">02</div>
                        <div class="line-item-text"><p>Подготовка рыбы к продаже</p><p>Калибровка, прекращение кормления,<br/>осмотр доктора, бережная погрузка.</p></div>
                    </div>
                </div>
                <div class="line-item item-3 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">03</div>
                        <div class="line-item-text"><p>Перевозка</p><p>Рыба едет к Вам 1м классом!</p></div>
                    </div>
                </div>
                <div class="line-item item-4 cfix scrollAnim">
                    <div class="line-item-wrap cfix">
                        <div class="line-item-num">04</div>
                        <div class="line-item-text"><p>Адаптация и разгрузка</p><p>Контроль химического состава<br/>воды и плавный перевод рыбы на новый<br/>состав - Азот, железо, вода, PH, температура.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>