<section class="problem">
    <div class="problem-wrap cfix">
        <div class="mbox">
            <div class="title">
                <h2> <span>Есть проблема ?</span></h2>
            </div>
        </div>
        <div class="texter-list-left">
            <div class="content cfix">
                <ul>
                    <li>Нужно увеличить прибыль и отдачу водоема?</li>
                    <li>Сталкиваетесь с безответственностью? Несете убытки? </li>
                    <li>Новички однодневки не оправдали ожидания? </li>
                    <li>Исполнители подводят по срокам? </li>
                    <li> Привозят с недовесом?</li>
                </ul>
            </div>
        </div>
        <div class="after-right">
            <div class="text-spec">
                <b>С нами</b>
                <i>проблемы забудутся</i>
                <span>навсегда</span>
            </div>
        </div>

    </div>

</section>