<section class="top-block">
    <div class="mbox">
        <div class="top-block-wrap">
            <div class="top-block-row cfix">
                <div class="top-block-tel">
                    <a href="tel:+79261078006">+7 (926) 107-80-06</a>
                   <!--  <span>г.Москва 1-й Вешняковский проезд д.2</span> -->
                </div>
                <div class="top-block-procent">
                    <p><b>100% </b></p>
                    <p>здоровая и активная рыба </p>
                </div>
            </div>
            <div class="top-block-center">
                <h1>
                    <b>Перевозка живой рыбы</b>
                    <span>и посадочного материала</span>
                </h1>
            </div>
            <div class="top-block-bottom">
                <a href="#" data-id="#clients-partners" class="button">
                    <span>оставить заявку</span>
                </a>
            </div>
        </div>
        <div class="big_fish">
            <img src="images/big_fish.png" alt="">
        </div>
    </div>
</section>