<section class="transport">

    <div class="mbox">

        <div class="title">
            <h2><span>Наш транспорт</span></h2>
            <h6>Ваша рыба едет первым классом</h6>
        </div>

        <div class="transport-text">
            <ul>
                <li>Постоянно совершенствующийся парк автомобилей различной грузоподъемности и проходимости, заточенных под специфику рыбоперевозки</li>
                <li>Профессионально обученные экипажи</li>
            </ul>
        </div>

    </div>

    <div class="transport-slider-wrap">
        <div class="transport-slider-main">
            <div class="transport-slider">
                <div class="transport-slider-item">
                    <a href="images/transport-slider-img1.jpg" class="fancybox" alt="" rel="transport-gallery">
                        <img src="images/transport-slider-img1.jpg" alt="" />
                    </a>
                </div>
                <div class="transport-slider-item">
                    <a href="images/transport-slider-img2.jpg" class="fancybox" alt="" rel="transport-gallery">
                        <img src="images/transport-slider-img2.jpg" alt="" />
                    </a>
                </div>
                <div class="transport-slider-item">
                    <a href="images/transport-slider-img3.jpg" class="fancybox" alt="" rel="transport-gallery">
                        <img src="images/transport-slider-img3.jpg" alt="" />
                    </a>
                </div>
                <div class="transport-slider-item">
                    <a href="images/transport-slider-img1.jpg" class="fancybox" alt="" rel="transport-gallery">
                        <img src="images/transport-slider-img1.jpg" alt="" />
                    </a>
                </div>
                <div class="transport-slider-item">
                    <a href="images/transport-slider-img2.jpg" class="fancybox" alt="" rel="transport-gallery">
                        <img src="images/transport-slider-img2.jpg" alt="" />
                    </a>
                </div>
                <div class="transport-slider-item">
                    <a href="images/transport-slider-img3.jpg" class="fancybox" alt="" rel="transport-gallery">
                        <img src="images/transport-slider-img3.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>