@media screen and (max-width: 1133px){
    .our-fish{
        .title{    padding: 55px 0 0 0;     font-size: 59px;    letter-spacing: 0px;
                h2{ padding-bottom: 20px;}
                h2:after{height: 8px;width: 475px;left: 5px;}
            }
        .mbox{padding: 0 51px 0 45px;}
        .mobile{display: block;
            .content{  display: block; padding-top: 70px; padding-bottom: 59px;}

            .img{width: 263px; height: 263px; border-radius: 50%; border:2px solid #6fb4c8; position: relative; display:inline-block; margin: 0 auto; position: relative; margin-bottom: 26px; float:left;     margin-right: 41px;
                &:before,
                &:after{display: none;}

            }
            .txt{color:#000; font:400 16.67px/20px 'Geometria'; max-width: none; padding-top: 58px;
                p:first-child{font:700 33px/33px 'Geometria';    padding-bottom: 18px;}
                b{font-weight: 700;}
             }
            .liner{display: none; }

            .item{text-align: left;   display: block; height: 263px; position: relative; margin-bottom: 40px;
                &:before{content: '';display: block; width: calc(100% - 131px); height: 2px; left:131px; bottom: 0; background-color: #6fb4c8;position: absolute;}
                &.right{text-align: right;
                    .img{float:right;    margin-right: 0;     margin-left: 41px;}
                    &:before{left:auto; right: 131px;}
                }

            }
        }

        .descktop{display: none;}
    }
}
    @media screen and (max-width: 667px){
        .our-fish{
            .title{       padding: 60px 0 0 0;     font-size: 48px;
                    h2:after{height: 4px;width: 100%;left: 5px;}
                }
            .mbox{    padding: 0px 52px 0 52px;}
            .mobile{display: block;
                .content{ padding-top: 70px; padding-bottom: 11px;}

                .img{ margin-bottom: 0; float:none; display: block;     margin-right:auto;
                }
                .txt{font-size: 28px;     padding-top: 40px; line-height: 34px;
                    p:first-child{font-size:36px;     padding-bottom: 16px;}
                 }
                .item{ height: auto; margin-bottom: 59px;
                    &:before{display: none;}
                    &.right{text-align: left;
                        .img{float:none; margin-left: auto; margin-right: auto;}
                    }
                }
            }
        }
    }
    @media screen and (max-width: 480px){
        .our-fish{
            .title{ font-size: 24.5px; padding: 5px 0 0 0;
                h2{padding-bottom: 9px;
                    &:after{height: 2px;    left: 0px;}
                }
            }
            .mbox{       padding: 0px 27px 0 27px;}
            .mobile{
                .content{    padding-top: 36px; padding-bottom: 11px;}
                .img{width: 132px; height: 132px;
                    img{    max-width: 83%;}
                }
                .txt{font-size: 14.5px; padding-top: 10px;   line-height: 18px;  padding-top: 18px;
                    p:first-child{font-size:18px; line-height: 18px;padding-bottom: 7px;}
                 }
                 .item{    margin-bottom: 23px;}

            }
        }
    }