@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1170px){

    /* header */

        .header{
            .header-menu{
                .header-menu-wrap{
                    ul{
                        li{margin:0 3% 18px 0;font-size:14px;}
                    }
                }
            }
        }

    /* /header */


}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 960px){

    /* header */

        .header{
            .header-logo{max-width: 130px;}
            .header-menu{position: relative;text-align: right;cursor: pointer;width: calc(100% - 425px);padding-top: 0;
                .header-menu-wrap{display: none;position: absolute;top: calc(100% + 10px);right: 0;border:2px solid #fff;border-radius: 15px;background-color:#67aabf;padding:15px 10px 15px 10px;
                    ul{display: block;
                        li{margin: 0 0 18px 0;
                            &:last-child{margin: 0;}
                            a{
                                &:after{display: none;}
                            }
                        }
                    }
                }
                .header-menu-sendwich, .header-menu-sendwich-text, .header-menu-sendwich-main{display: inline-block;vertical-align: middle;}
                .header-menu-sendwich-text{font-weight: 700;color:#fff;text-transform: uppercase;margin-right: 5px;}
                .header-menu-sendwich-main{width: 15px;height: 10px;padding-top: 4px;position: relative;
                    span{display: block;height: 2px;width: 100%;background-color: #fff;transition:background-color 300ms ease;
                        &:before, &:after{content: '';display: block;position: absolute;width: 100%;height: 2px;background-color: #fff;left:0;transform-origin:1px 50%;transition:transform 300ms ease;}
                        &:before{top:0;transform-origin:2px 0px;}
                        &:after{bottom: 0;transform-origin:1px 2px;}
                    }
                }
                .header-menu-sendwich{
                    &.active{
                       .header-menu-sendwich-main{
                           span{background-color:transparent;
                               &:before{transform:rotate(45deg);}
                               &:after{transform:rotate(-45deg);}
                           }
                       }
                    }
                }
            }
            .header-menu-button{
                .button{width: 190px;height: 50px;line-height: 50px;}
            }
        }

    /* /header */

    /* our-quests */

        .our-quests{
            .our-quests-wrap{align-items:flex-start;
                .our-quest-item{display: block;text-align: center;width: 50%;
                    .our-quest-item-img{margin-bottom: 10px;}
                    .our-quest-item-text{padding: 0;}
                }
            }
        }

    /* /ur-quests */

    /* features */

        .features{
            .features-wrap{
                .features-main{
                    .features-item{
                        .features-item-title{font-size: 33px;}
                        .features-text{font-size: 16px;line-height: 20px;}
                    }
                }
            }
        }

    /* /features */

    /* titles */

        .title{font-size:62px;
            h2{
                span{padding-bottom: 8px;
                    &:after{top:104%;height: 8px;}
                }
            }
            h6{font-size: 22px;}
        }

    /* /titles */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 640px){

    /* header */

        .header{
            .header-menu{width: auto;
                .header-menu-wrap{width: 220px;}
                .header-menu-sendwich-main{width: 47px;height: 34px;padding-top: 13px;
                    span{height: 7px;
                        &:before, &:after{height: 7px;}
                        &:before{transform-origin:6px 8px;}
                        &:after{transform-origin:7px -1px;}
                    }
                }
                .header-menu-sendwich-text{display: none;}
            }
            .header-menu-button{display: none;}
        }

    /* /header */

    /* fish-background */

        .fish-background{background-image:url(../images/fish-background-mobile.jpg);background-position: center 150px;}

    /* /fish-background */

    /* our-quests */

        .our-quests{min-height: 1100px;
            .title{text-align: center;font-size: 48px;
                h2{
                    span{
                        &:after{height: 4px;}
                    }
                }
                h6{font-size: 20px;}
            }
            .our-quests-wrap{display: block;padding-top: 50px;
                .our-quest-item{width: 100%;margin-bottom: 30px;
                    &:last-child{margin-bottom: 0;}
                    .our-quest-item-text{font-size: 36px;line-height: 42px;padding: 0 20px;}
                }
            }
        }

    /* /our-quests */

    /* titles */

        .title{font-size:47px;
            h2{
                span{
                    &:after{top:109%;height: 4px;}
                }
            }
        }

    /* /titles */

    /* features */

        .features{
            .features-wrap{
                .features-main{
                    &:before{display: none;}
                    .features-item{padding-bottom: 0;
                        &.text-left, &.text-right{padding-right:0;padding-left: 0;
                            .features-item-title{padding-left: 5px;padding-right:5px;
                                &:before{display: none;}
                                &:after{border-bottom: 2px dotted #a6abad;width: 100%;}
                            }
                        }
                        .features-text{padding-left: 5px;padding-right:5px;}
                    }
                    .slick-dots{left: 0;}
                }
            }
        }

    /* /features */


}
@media screen and (max-width: 479px){

    /* header */

        .header{
            .header-logo{width: 70px;}
            .header-menu{
                .header-menu-sendwich{
                    .header-menu-sendwich-main{width: 24px;height: 17px;padding-top:7px;
                        span{height: 3px;
                            &:before, &:after{height: 3px;}
                            &:before{transform-origin:4px 5px;}
                            &:after{transform-origin:4px -1px;}
                        }
                    }
                }
            }
        }

    /* /header */

    /* fish-background */

        .fish-background{background-size: 100% auto;background-position: center 80px;}

    /* /fish-background */

    /* our-quests */

        .our-quests{padding-top: 35px;min-height: 750px;
            .title{font-size: 24px;
                h2{
                    span{
                        &:after{height: 2px;}
                    }
                }
            }
            .our-quests-wrap{padding-top: 30px;
                .our-quest-item{
                    .our-quest-item-img{
                        img{max-width: 150px;}
                    }
                    .our-quest-item-text{font-size: 18px;line-height: 24px;}
                }
            }
        }

    /* /our-quests */

}
@media screen and (max-width: 375px){

    /* our-quests */

        .our-quests{min-height: 600px;
            .our-quests-wrap{
                .our-quest-item{
                    .our-quest-item-img{
                        img{max-width: 110px;}
                    }
                }
            }
        }

    /* /our-quests */

}
@media screen and (max-width: 320px){

}