@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1170px){

    /* header */

        .header{
            .header-menu{
                .header-menu-wrap{
                    ul{
                        li{margin:0 3% 18px 0;font-size:14px;}
                    }
                }
            }
        }

    /* /header */


}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 960px){

    /* header */

        .header{
            .header-logo{max-width: 130px;}
            .header-menu{position: relative;text-align: right;cursor: pointer;width: calc(100% - 425px);padding-top: 0;
                .header-menu-wrap{display: none;position: absolute;top: 100%;right: 0;}
                .header-menu-sendwich, .header-menu-sendwich-text, .header-menu-sendwich-main{display: inline-block;vertical-align: middle;}
                .header-menu-sendwich-text{font-weight: 700;color:#fff;text-transform: uppercase;margin-right: 5px;}
                .header-menu-sendwich-main{width: 15px;height: 10px;padding-top: 4px;position: relative;
                    span{display: block;height: 2px;width: 100%;background-color: #fff;transition:background-color 300ms ease;
                        &:before, &:after{content: '';display: block;position: absolute;width: 100%;height: 2px;background-color: #fff;left:0;transform-origin:1px 50%;transition:transform 300ms ease;}
                        &:before{top:0;transform-origin:2px 0px;}
                        &:after{bottom: 0;transform-origin:1px 2px;}
                    }
                }
                .header-menu-sendwich{
                    &:hover{
                        .header-menu-sendwich-main{
                            span{background-color:transparent;
                                &:before{transform:rotate(45deg);}
                                &:after{transform:rotate(-45deg);}
                            }
                        }
                    }
                }
            }
            .header-menu-button{
                .button{width: 190px;height: 50px;line-height: 50px;}
            }
        }

    /* /header */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}