@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1050px){
    /*our-advantages*/
    .our-advantages{background: url('../images/our-advantages-mobile.png') center bottom no-repeat #f3f8fb;padding-bottom: 455px;
        .our-advantages-line{}
        .our-advantages-line-wrap{
            &:after{height: 100%;left: 50%;top: -20px;}
        }
        .line-item{
            &:nth-child(odd){
                .line-item-wrap{width: 50%;}
                .line-item-num{}
                .line-item-text{}
            }
            &:nth-child(even){
                .line-item-wrap{width: 50%;}
                .line-item-num{
                }
                .line-item-text{padding-top: 17px;
                    &:after{}
                }
            }
            &.item-2{padding-top: 0;
                .line-item-text{padding-right: 9px;}
            }
            &.item-3{margin-top: -78px;}
            &.item-4{}
            .line-item-wrap{}
            .line-item-num{}
            .line-item-text{
                &:after{}
                p:first-child {font-size: 34px;}
            }
        }
    }
    /*/our-advantages*/
}
@media screen and (max-width: 960px){
    /*top-block*/
    .top-block{    padding-top: 16px;padding-bottom: 119px;
        .mbox{padding: 0 49px;}
        .top-block-wrap{
            .top-block-row{
                .top-block-tel{padding-right: 3.5%;padding-top: 14px;
                    a{font-size: 29px;}
                    span{padding-top: 12px;}
                }
                .top-block-procent{padding-top: 147px;padding-left: 8%;
                    b{}
                    p{}
                }
            }
            .top-block-center{max-width: 81%;
                &:after,&:before{}
                &:before{}
                span{}
            }

        }
        .big_fish{position: absolute;z-index: 1;top: 189px;    left: 56%;
            img{max-width: none;max-height: 526px;}
        }
        .top-block-bottom{padding-top: 31px;}
    }
    /*/top-block*/


    /*fotogallery*/
    .fotogallery{padding-bottom: 97px;
        .title{}
        .fotogallery-slider{margin: 0 -30px;}
        .fotogallery-slider-item{text-align: center;margin:0 10px;
            a{display: inline-block;}
            img{}
        }
        .slick-prev{display: none !important;}
        .slick-next {display: none !important;}
        .slick-dots{bottom: -75px;}
    }
    /*/fotogallery*/
    /*with-us*/
        .with-us{padding: 38px 0; background-size: cover;
            .right{float: none; max-width: none;}
            .item{text-align: center; display: block;}
            .left{max-width: none;
                 p:first-child{padding-bottom: 29px;}
            }
        }
    /*END with-us*/
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    /*top-block*/
    .top-block{padding-top: 9px;padding-bottom: 117px;
        .mbox{    padding: 0px 57px;}
        .top-block-wrap{
            .top-block-row{
                .top-block-procent{padding-top: 116px;padding-left: 3%;
                    b{font-size: 94px;font-family: 'Geometria';font-weight: 700;margin-bottom: 7px;display: inline-block;}
                }
            }
            .top-block-center{letter-spacing: -1px;font-size: 74px;max-width: 97%; padding-top: 11px;
                &:after,&:before{}
                &:before{top: 100%;}
                span{font-size: 38px;padding-top: 2px;}
            }
            .top-block-bottom{
                .button{border: 3px solid #fff;max-width: 298px;font-size: 22px;line-height: 58px;}
            }
        }
         .big_fish{top: 155px;    left: 52%;
             img {    max-width: none;    max-height: 457px;}
         }
    }
    /*/top-block*/

    /*our-advantages*/
    .our-advantages{padding-bottom: 305px;background-position: 90% bottom;overflow: hidden;background-color: #fff;
        .our-advantages-line{padding-top: 95px;}
        .our-advantages-line-wrap{
            &:after{}
        }
        .line-item{
            &:nth-child(odd){
                .line-item-wrap{}
                .line-item-num{}
                .line-item-text{}
            }
            &:nth-child(even){
                .line-item-wrap{}
                .line-item-num{
                }
                .line-item-text{
                    &:after{}
                }
            }
            &.item-2{
                .line-item-text{text-align: right;padding-top: 25px;}
            }
            &.item-3{margin-top: -115px;}
            &.item-4{margin-top: 43px;}
            .line-item-wrap{}
            .line-item-num{}
            .line-item-text{font-size: 20px;line-height: 23px;padding-top: 23px;
                &:after{}
                p:first-child{font-size: 32px; line-height: 32px;}
            }
        }
    }
    /*/our-advantages*/

    /*fotogallery*/
    .fotogallery{padding-bottom: 90px;background-color: transparent;padding-top: 0px;position: relative;z-index: 0;    margin-top: -57px;
        .title{padding-bottom: 53px;}
        .fotogallery-slider{margin: 0 20px;}
        .fotogallery-slider-item{text-align: center;margin:0 10px;
            a{display: inline-block;}
            img{}
        }
        .slick-prev{display: none !important;}
        .slick-next {display: none !important;}
        .slick-dots{bottom: -65px;}
    }
    /*/fotogallery*/
    /*with-us*/
        .with-us{padding: 32px 0 38px;
            .button {    border-width: 6px; height: 69px; border-radius: 33px;}
            .left{
                 p{ font-size: 64px; line-height: 64px; letter-spacing: 3px;
                    &:first-child{font-size: 48px; line-height: 48px; padding-bottom: 33px;}
                }
            }
        }
    /*END with-us*/
}
@media screen and (max-width: 629px){
    .our-advantages .our-advantages-line-wrap:after{height: 950px;}
}
@media screen and (max-width: 530px){
    /*top-block*/
    .fancybox-nav {
    width: 40px;
}
    .top-block{padding-bottom: 57px;     padding-top: 0px;
        .mbox {    padding: 0 29px;}
        .top-block-wrap{border: 4px solid white;min-height: 1px;border-left: none;
            .top-block-row{
                .top-block-tel{padding-top: 8px;
                    a{font-size: 12px;}
                    span{font-size: 10px;padding-top: 8px;}
                }
                .top-block-procent{padding-top: 61px;padding-left: 0;margin-bottom: 0px;
                    b{font-size: 45px;    margin-left: 0px;}
                    p{font-size: 8px;}
                }
            }
            .top-block-center{letter-spacing: 0px;font-size: 37px;max-width: 320px;padding-top: 2px;
                &:after,&:before{width: 4px;}
                &:before{}
                &:after{bottom: 100%;}
                span{font-size: 19px;}
            }
            .top-block-bottom{padding-top: 16px;padding-left: 20px;padding-bottom: 65px;
                .button{border: 2px solid #fff;max-width: 146px;font-size: 11px;line-height: 32px;height: 35px;}
            }
        }
        .big_fish{top: 62px;    left: 49%;
            img{max-height: 254px;}
        }
    }
    /*/top-block*/
}
@media screen and (max-width: 479px){
    /*our-advantages*/
    .our-advantages{padding-bottom: 175px;background-size: contain;
        .our-advantages-line{padding-top: 45px;}
        .our-advantages-line-wrap{
            &:after{height: 447px;}
        }
        .line-item{
            &:nth-child(odd){
                .line-item-wrap{}
                .line-item-num{padding-left: 9px;}
                .line-item-text{padding-left: 11px;}
            }
            &:nth-child(even){
                .line-item-wrap{}
                .line-item-num{
                }
                .line-item-text{padding-top: 9px;padding-right: 11px;text-align: right;
                    &:after{}
                }
            }
            &.item-2{
                .line-item-text{}
            }
            &.item-3{margin-top: -80px;}
            &.item-4{margin-top: 6px;}
            .line-item-wrap{}
            .line-item-num{margin-bottom: 1px;font-size: 43px;}
            .line-item-text{font-size: 12px;line-height: 18px;padding-top: 7px;
                p{font-size: 10px;line-height: 14px;
                    &:first-child {    font-size: 16px;    line-height: 16px;}
                }
                &:after{}
            }
        }
    }
    /*/our-advantages*/

    /*fotogallery*/
    .fotogallery{padding-bottom: 30px; margin-bottom: 0;
        .title{padding-bottom: 23px;}
        .fotogallery-slider{}
        .fotogallery-slider-item{
            a{}
            img{}
        }
        .slick-prev{}
        .slick-next {}
        .slick-dots{bottom: -40px;}
    }
    /*/fotogallery*/
     /*with-us*/
        .with-us{padding: 16px 0 18px;
            .button {     max-width: 149px;   border-width: 3px; font-size: 10px; line-height: 31px;    height: 34px;}
            .left{
                 p{ font-size: 32px; line-height: 32px; letter-spacing: 2px;
                    b{padding: 0 3px;}
                    &:first-child{font-size: 24px; line-height: 24px; padding-bottom: 16px;    letter-spacing: 0.5px;}
                }
            }
            .right{    padding-top: 20px;}
        }
    /*END with-us*/
}
@media screen and (max-width: 320px){

}