@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
    .clients-partners .wrap-client{
        .partners-wrap { padding-left: 80px;}
        .clients-wrap {padding-right: 80px;}
    }


}
@media screen and (max-width: 1024px){
    .clients-partners .wrap-client .conteiner-fontan { float: none;  width: 100%; text-align: center; padding-right: 0; padding-left: 0;
        .title-text{font-size: 66px;}
        form {
            input {max-width: 465px; text-align: left; font-size: 16px;}
            .button { font-size: 16px; max-width: 465px;}
        }

    }
    .problem-wrap {    padding-top: 0px;
        .mbox{padding: 0px 49px;}
        .texter-list-left { float: none; width: 100%; background-image: none; overflow: hidden; padding-bottom: 50px; background-color: #edf3f6; position: relative;
            .content ul{float: none;}
            &:after{content: ' '; width: 0; height: 0; border-style: solid; border-width: 75px 0 0 512px;border-color: transparent transparent transparent white; position: absolute; right: 50%; bottom: 0;}
            &:before{content: ' '; width: 0; height: 0; border-style: solid;border-width: 0 0 75px 512px;border-color: transparent transparent white transparent; position: absolute; left: 50%; bottom: 0;}
        }
        .texter-list-left {
            .content ul{padding-left: 66px;}
        }
        .after-right { width: 100%;float: none; padding-bottom: 50px; padding-top: 20px;
            .text-spec{margin: 0 auto; min-width: 690px; padding-right: 100px;
                b{font-size: 142px;}
                i{font-size: 54px;}
                span{font-size: 104px;}
                &:after {top: 0;font-size: 399px; line-height: 300px;}
            }
        }
    }

}
@media screen and (max-width: 992px){
    .problem-wrap {
        .title {
            padding-bottom: 101px;
        }
        .texter-list-left .content {    padding-top: 52px;}
    }
    .clients-partners .wrap-client {
        .conteiner-fontan{    padding-top: 64px;
             .title-text{
                h3{display: block;max-width: none;}
            }
        }
    }
    .footer-wrap{padding-top: 69px;}
}
@media screen and (max-width: 767px){

    .footer-wrap{padding-top: 112px;
        .conteiner{
            .socials a{    margin: 0 9px;
                 img{width: 47px;}
             }
            .all-rigths-are-reserved{    padding-top: 27px;
                 span{ display: block; line-height: 52px; font-size: 30px;}
             }
        }
    }
    .problem-wrap {
        .title{padding-bottom: 47px;}
        .texter-list-left { float: none; width: 100%; background-image: none; overflow: hidden; background-color: #edf3f6;
            .content ul li{font-size: 28px;
                &:after { top: 10px;}
            }
        }
        .after-right { width: 100%;float: none; padding-bottom: 50px; padding-top: 20px;
            .text-spec{margin: 0 auto; min-width: 690px; padding-right: 100px; min-width: 565px;
                b{font-size: 114px;}
                i{font-size: 42px;}
                span{font-size: 84px;}
                &:after {top: 0;font-size: 322px; line-height: 244px;}
            }
        }
    }

}
@media screen and (max-width: 666px){
    .clients-partners .wrap-client {
        .clients-wrap form button{color: #38a6b9;}
        .partners-wrap form button{color: #398aba;}

        .conteiner-fontan {
            .title-text{font-size: 68px;}
            .aftertext{font-size: 30px;}
            form {
                input {max-width: 465px; text-align: left; height: 50px;font-size: 28px;}
                .button { font-size: 16px; max-width: 465px; background-color: white; font-size: 30px;}
            }

        }
    }
}

@media screen and (max-width: 600px){
    .problem-wrap .texter-list-left .content ul li {font-size: 15px;padding-left: 20px; margin-bottom: 10px;
        &:after{width: 5px; height: 5px;top: 5px;}
    }
    .problem-wrap {
        .after-right { width: 100%;float: none; padding-bottom: 50px; padding-top: 20px;
            .text-spec{margin: 0 auto; max-width: 280px; padding-right: 40px;min-width: 280px;
                b{font-size: 57px;}
                i{font-size: 21px;}
                span{font-size: 42px;}
                &:after {top: 0;font-size: 182px; line-height: 137px;}
            }
        }
    }
    .problem-wrap .texter-list-left {padding-bottom: 20px;}
}


@media screen and (max-width: 479px){
    .clients-partners .wrap-client {
        .conteiner-fontan {padding-top: 38px; padding-bottom: 23px;
            .title-text{font-size: 34px; line-height:28px;}
            .aftertext{font-size: 15px; line-height: 18px;}
            form {padding-top: 3px;
                input {max-width: 235px; text-align: left; font-size: 13px; height: 26px;}
                .button { font-size: 16px; max-width: 230px; background-color: white; font-size: 15px; height: 50px; line-height: 46px;}
                .contact-form-item {    padding-bottom: 11px;}
            }
            .button{border-radius: 15px;}

        }
    }
    .problem-wrap{
        .title {
            padding-bottom: 22px;
        }
        .texter-list-left .content{    padding-top: 22px;
             ul{ padding-left: 29px;
                li{    padding-left: 10px;}
            }
        }
    }
    .footer-wrap{padding-top: 47px;
        .conteiner{
            .socials a{    margin: 0 4px;
                 img{width: 24px;}
             }
            .all-rigths-are-reserved{    padding-top: 14px; padding-bottom: 11px;
                 span{ line-height: 27px; font-size: 15.5px;}
             }
        }
    }
}
@media screen and (max-width: 320px){

}